/***** Main menu styling *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #FFFAF1; /* Off White */
}

.nav ul {
  list-style: none;
  background: #FFFAF1; /* Off White */
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;

}

.nav a {
  text-decoration: none;
  color: #32612D; /* Forest Green */
  width: 100px;
  display: block;
  padding: 15px;
  font-size: 17px;
  font-family: merriweather;
  transition: 0.4s;
}

.nav a:hover {
  background-color: #728C69 /* Sage Green */
}

.page {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: #FFFAF1; /* Off White */
}

.content {
  background-color: #EAEDF0;
  height: 600px;
}

.sign-up {
  background-color: #D6E9FE;
}

.feature-1 {
  background-color: #FFFAF1; /* Off White */
}

.feature-2 {
  background-color: #FFFAF1; /* Off White */
}

.feature-3 {
  background-color: #FFFAF1; /* Off White */
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .sign-up,
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 50%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 33.3%;
  }
  .header {
    height: 400px;
  }
  .sign-up {
  height: 200px;
  order: 1;
}
.content {
  order: 2;
}
}
