/***** Main menu styling *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #FFFAF1; /* Off White */
}

.logo {
  max-width: 50em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

nav {
  background: #FFFAF1; /* Off White */
  text-align: center;
  margin: 0;
  padding: 20px 0;
  display: flex;
  justify-content: center;

}

nav a {
  text-decoration: none;
  color: #32612D; /* Forest Green */
  width: 300px;
  display: block;
  padding: 15px;
  font-size: 17px;
  font-family: 'Old Standard TT', serif;
  transition: 0.4s;
  list-style-type: none;
}

nav a:hover {
  background-color: #728C69; /* Sage Green */
  color: #28190E; /* Dark Brown */
}

.page {
  display: flex;
  flex-wrap: wrap;
  max-width: 50em;
}

.active a {
  background-color: #728C69 /* Sage Green */
}

.section {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  color: #32612D; /* Forest Green */
  font-size: 50px;
  font-family: 'Homemade Apple', cursive;
}

.description {
  text-align: center;
  font-size: 16px;
  padding-left: 40px;
  padding-right: 40px;
}

.photo-grid-container {
    max-width: 50em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}

ol li {
  margin: 0.5em;
}

.photo-grid-item {
  width: 33.3%;
}

.product-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
}

.product-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-grid-item img {
  width: 200px;
  height: 200px;
}

.product-grid-item button {
  background-color: rgba(140, 96, 87, 0.9); /* Rose Taupe */
  margin: 1em;
  padding: 10px;
  font-family: 'Old Standard TT', serif;

}

.product-grid-item button:hover {
  background-color: #728C69; /* Sage Green */
}

.product-grid-item button a {
  color: white;
  text-decoration: none;
  font-family: 'Old Standard TT', serif;
}

.product-grid-item button a:visited {
  color: white;
}

.content {
  background-color: rgba(140, 96, 87, 0.9); /* Rose Taupe */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  margin: 1em;
  max-width: 48em;
  padding-left: 2em;
  padding-right: 2em;
}

.content a:hover {
  color: #32612D; /* Forest Green */
  text-decoration: none;
}

.facts {
  background-color: rgba(140, 96, 87, 0.9); /* Rose Taupe */
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  margin: 1em;
  max-width: 48em;
  padding-left: 2em;
  padding-right: 2em;
}

.classes {
  background-color: rgba(140, 96, 87, 0.9); /* Rose Taupe */
  display: flex;
  flex-direction: column;
  font-family: Georgia, serif;
  padding: 2em;
}

.classes li {
  margin: 0.5em;
}

.classes a:hover {
  color: #32612D; /* Forest Green */
}

h2 {
  color: #32612D; /* Forest Green */
  font-size: 20px;
  font-family: 'Old Standard TT', serif;
}

.hands {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
}

.sustainable1 {
  background-color: rgba(30, 60, 27, 0.93); /* Forest Green */
  margin: 0.5em;
  padding: 2em;
}

.sustainable1 h2, h4 {
  color: #FFFAF1; /* Off White */
}

.sustainable1 p {
  color: #FFFAF1; /* Off White */
  padding: 1em 1em 1em 2em;
  font-family: 'Quicksand', sans-serif;
}

.footer {
  background-color: #728C69; /* Sage Green */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
}

.button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #32612D; /* Forest Green */
  color: white;
  font-size: 15px;
  height: 50px;
  width:300px;
  font-family: 'Old Standard TT', serif;
  margin: 1em auto 3em;
}

.button1:hover {
  background-color: #728C69; /* Sage Green */
  display: flex;
  justify-content: center;
  align-items: center;
}

.button1 a {
  color: white;
  text-decoration: none;
  font-family: 'Old Standard TT', serif;
}

.button1 a:visited {
  color: white;
  text-decoration: none;
}

.button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #728C69; /* Sage Green */
  font-size: 10px;
  height: 40px;
  width: 100px;
  font-family: 'Old Standard TT', serif;
  margin: 1em auto 3em;
}

.button2 a {
  color: white;
  text-decoration: none;
  font-family: 'Old Standard TT', serif;
}

.button2:hover {
  background-color: #32612D; /* Forest Green */
}

.books {
  height: 175px;
}

.podcasts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.Instagram1, .Instagram2, .Instagram3, .Instagram4 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 12.5em;

}

h2 {
  margin-left: 2em;
  font-size: 28px;
  font-family: 'Homemade Apple', cursive;
}

p {
  color:#28190E; /* Dark Brown */
  font-family: 'Quicksand', sans-serif;
}

h3 {
  color: color:#28190E; /* Dark Brown */
  font-size: 24px;
  font-family: 'Homemade Apple', cursive;
}

h4 {
  color: color:#28190E; /* Dark Brown */
  margin: 0.5em;
  font-family: 'Old Standard TT', serif;
}

h5 {
  color: color:#28190E; /* Dark Brown */
  margin: 0.5em;
  font-family: 'Old Standard TT', serif;
}

li a {
  color: #FFFAF1; /* Off White */
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
}

i a {
  color: #FFFAF1; /* Off White */
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
}

i a:hover {
  color: #32612D; /* Forest Green */
  text-decoration: none;
}

.YouTube {
  margin: auto;
}

/* Testing out something here */

.column {
  float: left;
  width: 90%;
  padding: 10px;
  text-align: center;
}

.row {
  content: "";
  display: flex;
  clear: both;
}

.grow {
transition: all .2s ease-in-out;
}

.grow:hover {
transform: scale(1.1);
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 50px;
}

/* Hide the images by default */
.scrollpics {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #728C69; /* Sage Green */
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: #728C69; /* Sage Green */
}

/* Testing concluded */

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    .header {
      height: 50px;
    }
    .description {
      height: 150px;
    }
    nav {
      width: 100%;
    }
    .feature-1,
    .feature-2,
    .feature-3 {
      width: 33.3%;
    }
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .header {
    height: 50px;
  }
  .description {
    height: 150px;
  }
  nav {
    width: 100%;
  }
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 33.3%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }
  .header {
    height: 50px;
  }
  .description {
    height: 150px;
  }
  nav {
    width: 100%;
  }
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 33.3%;
  }

}
